<h1 class="mt-4">Mainboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="form-group">
        <a  href="/user/updated" class="btn btn-primary ">Updated </a>
    </div>
<a href="/user/logout" class="btn btn-secondary">Logout</a> 